#miniproject {
    align-content: center;
    text-align: center;
    padding-top: 20px;
}

#miniproject:hover { 
   opacity: 0.7;
}

.overlay {
  color: black; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  font-size: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

.titleStart {
    font-size: 22px;
}

