@media screen and (max-width: 766px) {
    #descriptionDiv {
        margin-left: 50px;
        margin-right: 50px;
    }
    
    #imgPers {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 10px;
    }
    
    #imgBig {
        width: 70%;
    }
    
}